name: Package

on:
  push:
    branches: [ master ]

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build and package
        run: mvn -B -DskipTests=false package
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ddd-ejemplo-artifact
          path: target/*.jar

